.celeste{
    background-color: #0198bf;
}

.verde {
    background-color: #668c2e;
}
.lila {
    background-color: #6b4089;
}
.naranja {
    background-color: #f38a1b;
}
.rojo {
    background-color: #d41d21;
}

.negro {
    background-color: #000000;
}
.page-link{

        background-color: #668c2e;
}
